/* publishers.css: PUBLISHERS STYLES */

.publishers {
  background-color:#000;
  margin: 30px 0 50px 0;
  ul {
    height:140px;
    align-items:center;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap: wrap;
    li {
      list-style:none;

      &:nth-child(1) {
        background: url('../images/sprite.svg') no-repeat 2px -410px;
        width:129px;
        height:65px;
        text-indent: -3000px;
        overflow: hidden;
      }
      &:nth-child(2) {
        background: url('../images/sprite.svg') no-repeat 2px -521px;
        width:107px;
        height:65px;
        text-indent: -3000px;
        overflow: hidden;
      }
      &:nth-child(3) {
        background: url('../images/sprite.svg') no-repeat 2px -623px;
        width:110px;
        height:65px;
        text-indent: -3000px;
        overflow: hidden;
      }
      &:nth-child(4) {
        background: url('../images/sprite.svg') no-repeat 2px -719px;
        width:118px;
        height:65px;
        text-indent: -3000px;
        overflow: hidden;
      }
      &:nth-child(5) {
        a {
          display:block;
          height:65px;
          line-height: 65px;
          border-left: 2px solid #333;
          padding-left:20px;
          font-size:16px;
          font-weight:800;
          color: #fff;
          opacity:0.5;
          &:hover {
            opacity:1;
          }
          &:after {
            background: url('../images/sprite.svg') no-repeat -48px -128px;
            content: "";
            display:inline-block;
            width:24px;
            height:24px;
            vertical-align: middle;
            margin-left:5px;
          }
        }
      }
    }
  }
}
