/* hero-controls.css: HERO-CONTROLS STYLES */

.hero-controls {
  flex-direction: row;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-controls a {
  margin-top:20px;
  padding:12px 24px 12px 24px;
  height:48px;
  border-radius:24px;
  background-color:rgba(0,0,0,0.3);
  color:#fff;
  font-size:14px;
  text-transform:uppercase;
}

.hero-controls a:hover {
  background-color:rgba(0,0,0,0.9);
}

.hero-controls a:first-child {
  padding-left: 40px;
}

.hero-controls a:last-child {
  padding-right: 40px;
}
