/* default.css: DEFAULT STYLES */

body {odek
  min-width: 320px;
  font-family: montserrat, sans-serif;
  background-color: #e6e6e6;
}

strong {
  font-weight: 700;
}

#skiptocontent {
  display:none;
}

a {
  text-decoration:none;
}

.primary-button {
  background-color: #d4145a;
  color: #fff;
}

.secondary-button {
  border: 2px solid #fff;
  color: #fff;
}

a:hover {
  transition: all 0.5s ease;
}

.hidden {
  visibility:hidden;
}
