/* nav.css: nav STYLES */

nav ul {
  display:flex;
  align-items: center;

  li {
    float:left;
    margin-right:20px;
    list-style:none;

    &:last-child {
      margin-right:0px;
    }

    &:nth-child(3)::before {
      background: url('../images/sprite.svg') no-repeat 1px -184px;
      content: "";
      display:inline-block;
      width:17px;
      height:17px;
      margin-right:5px;
    }

    a {
      text-transform:uppercase;
      font-size:16px;
      color:#fff;
      text-decoration:none;
      opacity:0.8;

      &:hover {
        opacity:1;
      }
    }

  }
}

/* 01 tiny screens */
@media only screen and (max-width : 640px) {
  .hero {
    background-color: green;
  }
}

/* 02 small screens */
@media only screen and (min-width : 641px) and (max-width : 767px) {
  .hero {
    background-color: gray;
  }
}

/* 03 medium screens */
@media only screen and (min-width : 768px) and (max-width : 1023px) {
  .hero {
    background-color: black;
  }
}

/* 04 large screens */
@media only screen and (min-width : 1024px) {
  .hero {
    background-color: blue;
  }
}
