/* default.css: DEFAULT STYLES */

body {
  min-width: 320px;
  font-family: montserrat, sans-serif;
  background-color: #e6e6e6;

  small {
    font-size:12px;
  }

  strong {
    font-weight: 700;
  }

  a {
    text-decoration:none;
    &:hover {
      transition: all 0.5s ease;
    }
  }

  #skiptocontent {
    display:none;
  }

  .primary-button {
    background-color: #d4145a;
    color: #fff;
  }

  .secondary-button {
    border: 2px solid #fff;
    color: #fff;
  }

  .hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  fieldset {
    border: 0px;

    legend {
      visibility:hidden;
    }
  }

}
