!!! 5
%html
  %head(lang="es")
    %meta(charset="utf-8")
    %title Jaleo App
    %meta(name="description" content="Jaleo – Videoclub de Strea%ming Online")
    %meta(name="author" content="Ramsés Cabello")

    / favicons
    %link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    -# %link(rel="apple-touch-icon" href="touch-icon-iphone.png")
    -# %link(rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png")
    -# %link(rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png")
    -# %link(rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png")
    %link(rel="stylesheet" type="text/css" href="stylesheets/index.css")
    %link(href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css')
    %link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    %script(src="https://code.jquery.com/jquery-1.12.0.min.js")
  %body
    /skip to content
    %a#skiptocontent(href="#main")Skip to content

    / main navigation & logo
    %header
      .row
        .wrapper
          .logo
            %a(href="#")Jaleo

          %nav
            %ul
              %li
                %a(href="#")Películas
              %li
                %a(href="#")Series
              %li
                %a(href="#")Explora
              %li
                %a(href="#")Iniciar Sesión

    / hero banner

    %section.hero
      .row
        .hero-controls
          %a(href="#") anterior
          %a(href="#") siguiente

      .hero-information
        .row
          .large-6.medium-8.columns
            %h1 Los Vengadores: La Era de Ultrón

          / movie details
          .large-2.medium-4.columns
            %ul(itemscope itemtype="http://schema.org/Movie")
              %li
                %time(datetime="2015") 2015
              %li
                %span(itemprop="rating") <abbr title="Para mayores de">+</abbr>18
              %li
                %span(itemprop="quality") <abbr title="High Definition" lang='en'>HD</abbr>
              %li
                %time(datetime="PT1H30M") 1<abbr title="horas">h</abbr> 30<abbr title="minutos">min</abbr>
              %li
                %span(itemprop="score") 4 de 5 estrellas

          .more-info.large-2.columns
            %a.secondary-button(href="http://google.com") Más Info

          .watch-now.large-2.columns
            %a.primary-button(href="#")
              %span Ver Ahora
              %span 2,95€

    / main
    #main(role="main")
      /catalogue
      %section.catalogue
        %h2.hidden Catálogo de películas de Jaleo

        .row
          .filter
            .filter-main
              / catalogue filter
              %form(action="submit")
                %fieldset#filter(name="filter")
                  %legend Filtrar por

                  %label(for="movie-type") Tipo
                  %select#movie-type(name="movie-type")
                    %option(value="00") Tipo
                    %option(value="film") Películas
                    %option(value="show") Series

                  %label(for="movie-genre") Género
                  %select#movie-genre(name="movie-genre")
                    %option(value="00") Género
                    %option(value="family") Para toda la familia
                    %option(value="action") Acción y aventuras
                    %option(value="animation") Animación
                    %option(value="drama") Drama
                    %option(value="comedia") Comedia
                    %option(value="science-fiction") Ciencia ficción y fantasía
                    %option(value="classic") Clásicos
                    %option(value="sports") Deportes
                    %option(value="documentary") Documental
                    %option(value="indie") Independiente
                    %option(value="kids") Infantil
                    %option(value="musical") Musical
                    %option(value="romance") Romance
                    %option(value="horror") Terror y suspense
                    %optio(value="western")n Western


                  %label(for="new-releases")
                    %input#new-releases(type="checkbox" name="new-releases") Sólo novedades

            .filter-order
              /catalogue sort-by
              %fieldset
                %legend(for="catalogue-sort") Ordenar por
                %label(for="catalogue-sort") Ordenar por
                %select#catalogue-sort(name="catalogue-sort")
                  %option Más populares

              /catalogue submit
            .filter-update
              %fieldset
                %input(type="submit" value="Actualizar lista")


          .row
            .large-12.columns.no-results
              No existe multimedia con este criterio.

          .row
            .film-grid
              %ul.large-12.columns
                %li.large-2.columns
                  .movie(data-type="film" data-genre="drama" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info(data-href="http://www.imdb.com/title/tt1542344/externalsites")
                      %a(href="#")
                        %img(src="images/posters/127-dias.jpg" alt="Póster 127 Horas")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 127 Días
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="horror" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/apocalypse-now.jpg" alt="Póster Apocalypse Now")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Apocalypse Now
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="classic" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/dracula.jpg" alt="Póster Dracula")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Dracula
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="drama" data-new="true" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/selma.jpg" alt="Póster Selma")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Selma
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="show" data-genre="action" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/batman.jpg" alt="Póster Batman")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Batman
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="science-fiction" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/et.jpg" alt="Póster E.T.")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 E.T.
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="indie" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/amelie.jpg" alt="Póster Amelie")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Amelie
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="drama" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/cisne-negro.jpg" alt="Póster Cisne Negro")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Cisne Negro
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="science-fiction" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/her.jpg" alt="Póster HER")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 HER
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="horror" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/el-silencio-de-los-corderos.jpg" alt="Póster El silencio de los corderos")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 El silencio de...
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="adventure" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/avatar.jpg" alt="Póster Avatar")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Avatar
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="kids" data-new="true" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/malefica.jpg" alt="Póster Maléfica")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Maléfica
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="romance" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/american-beauty.jpg" alt="Póster American Beauty")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 American Beauty
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="animation" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/tintin.jpg" alt="Póster Tintin")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Tintin
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="action" data-new="true" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/sinsajo.jpg" alt="Póster Sinsajo")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Sinsajo
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="action" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/vengadores.jpg" alt="Póster Vengadores")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Vengadores
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="family" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/parque-jurasico.jpg" alt="Póster Parque Jurásico")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Parque Jurásico
                    %time(datetime="2010") 2010

                %li.large-2.columns
                  .movie(data-type="film" data-genre="animation" data-new="false" itemscope itemtype="http://schema.org/Movie")
                    .main-info
                      %a(href="#")
                        %img(src="images/posters/totoro.jpg" alt="Póster 127 Horas")

                      .extra-info
                        %ul
                          %li
                            Lorem ipsum dolor sit amet, sit amet...
                            %a(href="#") Más
                          %li
                            %span(itemprop="score")4 de 5 estrellas.
                            %a(href="#")
                              %strong 2,95&euro;

                    %h3 Totoro
                    %time(datetime="2010") 2010
        .row
          .pagination.large-12.columns
            %p Tenemos 456 referencias
            %a(href="#") Ver más

      /publishers
      %section.publishers
        .row
          .large-12.columns
            %h2.hidden Distribuidoras de películas en Jaleo
            %ul
              %li
                %a(href="#") Dreamworks
              %li
                %a(href="#") Filmax
              %li
                %a(href="#") Miramax
              %li
                %a(href="#") Universal
              %li
                %a(href="#") Otras distribuidoras

      /steps
      %section.steps
        .row
          %h2.hidden Paso a paso - Cómo utilizar jaleo
          %ol
            %li.large-4.columns
              %dl
                %dt Elige tu película
                %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            %li.large-4.columns
              %dl
                %dt Cómprala con un click
                %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            %li.large-4.columns
              %dl
                %dt Disfrútala donde quieras
                %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    /main footer
    %footer
      .row
        .large-3.columns
          /page links
          %h2 Página
          %ul
            %li
              %a(href="#") Blog
            %li
              %a(href="#") Prensa
            %li
              %a(href="#") Condiciones de Uso
            %li
              %a(href="#") Privacidad
            %li
              %a(href="#") Soporte

        .large-3.columns
          /corporate links
          %h2 Corporativo
          %ul
            %li
              %a(href="#") Nosotros
            %li
              %a(href="#") Contacto
            %li
              %a(href="#" hreflang="en") English Site
            %li
              %a(href="#" hreflang="de") Deutsch Website
            %li
              %a(href="#" hreflang="fr") Site Français

        .large-3.columns
          /social links
          %h2 Síguenos
          %ul
            %li
              %a(href="#") Facebook
            %li
              %a(href="#") Facebook
            %li
              %a(href="#") Facebook

        .large-3.columns
          /about
          .footer-info
            .logo
              %a(href="#")Jaleo
            %hr
            %h2.hidden Dirección
            .vcard
              %p.fn.hidden
                %a.url(href="#") Jaleo
              %p.adr
                %small(rel="license") &copy;  Jaleo de España S.A.
                %br
                %span.street-address Calle del Rey, 23
                %span.postal-code 28080
                %span.region MADRID
                %span.country-name España
              %p.tel 0034 555 55 65 85
              %p
                %a(href="mailto:info@jaleoapp.es") info&#x40;jaleoapp.es

      %script(src="https://code.jquery.com/jquery-1.12.0.min.js")
      %script(type="text/javascript" src="javascripts/custom.js")
