!!! 5
%html
  %head(lang="es")
    %meta(charset="utf-8")
    %title Jaleo App
    %meta(name="description" content="Jaleo – Videoclub de Strea%ming Online")
    %meta(name="author" content="Ramsés Cabello")

    / favicons
    %link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    %link(rel="apple-touch-icon" href="touch-icon-iphone.png")
    %link(rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png")
    %link(rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png")
    %link(rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png")
    %link(rel="stylesheet" type="text/css" href="stylesheets/index.css")
    %link(href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css')
    %link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
  %body
    /skip to content
    %a#skiptocontent(href="#main")Skip to content

    / main navigation & logo
    %header
      .row
        .wrapper
          .logo
            %a(href="#")Jaleo

          %nav
            %ul
              %li
                %a(href="#")Películas
              %li
                %a(href="#")Series
              %li
                %a(href="#")Explora
              %li
                %a(href="#")Iniciar Sesión

    / hero banner

    %section.hero
      .row
        .hero-controls
          %a(href="#") anterior
          %a(href="#") siguiente

      .hero-information
        .row
          .large-6.columns
            %h1 Los Vengadores: La Era de Ultrón

          / movie details
          .large-2.columns
            %ul(itemscope itemtype="http://schema.org/Movie")
              %li
                %time(datetime="2015") 2015
              %li
                %span(itemprop="rating") <abbr title="Para mayores de">+</abbr>18
              %li
                %span(itemprop="quality") <abbr title="High Definition" lang='en'>HD</abbr>
              %li
                %time(datetime="PT1H30M") 1<abbr title="horas">h</abbr> 30<abbr title="minutos">min</abbr>
              %li
                %span(itemprop="score") 4 de 5 estrellas

          %a.large-2.columns.secondary-button(href="#") Más Info

          %a.large-2.columns.primary-button(href="#")
            %span Ver Ahora
            %span 2,95€

    / main
    #main(role="main")
      /catalogue
      %section.catalogue
        %h2.hidden Catálogo de películas de Jaleo

        .row
          .filter
          / catalogue filter
          %form(action="submit")
            %fieldset#filter(name="filter")
              %legend Filtrar por

              %label(for="movie-type") Tipo
              %select#movie-type(name="movie-type")
                %option Tipo

              %label(for="movie-genre") Género
              %select#movie-genre(name="movie-genre")
                %option Género

              %label(for="new-releases")
                %input#new-releases(type="checkbox" name="new-releases") Sólo novedades

            /catalogue sort-by
            %fieldset
            %label(for="catalogue-sort") Ordenar por
            %select#catalogue-sort(name="catalogue-sort")
              %option Más populares

            /catalogue submit
            %fieldset
              %input(type="submit" value="Actualizar lista")

        %ul
          %li(itemscope itemtype="http://schema.org/Movie")
            %a(href="#")
              %img(src="images/posters/127-dias.jpg" alt="Póster 127 Horas")
              %h3 127 Días
              %time(datetime="2010")

            %ul
              %li
                Lorem ipsum dolor sit amet, consectetur...
                %a(href="#") Más
              %li
                %span(itemprop="score")4 de 5 estrellas.
              %li
                %a(href="#")
                  %strong 2,95&euro;

        %hr
        .pagination
          %p Tenemos 456 referencias
          %a(href="#") Ver más

      /publishers
      %section
        %h2 Distribuidoras de películas en Jaleo
        %ul
          %li
            %a(href="#") Dreamworks
          %li
            %a(href="#") Filmax
          %li
            %a(href="#") Miramax
          %li
            %a(href="#") Universal
          %li
            %a(href="#") Otras distribuidoras

      /steps
      %section
      %h2 Paso a paso - Cómo utilizar jaleo
      %ol
        %li
          %dl
            %dt Elige tu película
            %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %li
          %dl
            %dt Cómprala con un click
            %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %li
          %dl
            %dt Disfrútala donde quieras
            %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    -# /main footer
    -# %footer
    -#
    -#   /page links
    -#   %h2 Página
    -#   %ul
    -#     %li
    -#       %a(href="#") Blog
    -#     %li
    -#       %a(href="#") Prensa
    -#     %li
    -#       %a(href="#") Condiciones de Uso
    -#     %li
    -#       %a(href="#") Privacidad
    -#     %li
    -#       %a(href="#") Soporte
    -#
    -#   /corporate links
    -#   %h2 Corporate
    -#   %ul
    -#     %li
    -#       %a(href="#") Nosotros
    -#     %li
    -#       %a(href="#") Contacto
    -#     %li
    -#       %a(href="#" hreflang="en") English Site
    -#     %li
    -#       %a(href="#" hreflang="de") Deutsch Website
    -#     %li
    -#       %a(href="#" hreflang="fr") Site Français
    -#
    -#   /social links
    -#   %h2 Síguenos
    -#   %ul
    -#     %li
    -#       %a(href="#") Facebook
    -#     %li
    -#       %a(href="#") Facebook
    -#     %li
    -#       %a(href="#") Facebook
    -#
    -#   /about
    -#   %h2 Dirección
    -#   %small(rel="license") &copy;  Jaleo de España S.A.
    -#   .vcard
    -#     %p.fn
    -#       %a.url(href="#") Jaleo
    -#     %p.adr
    -#       %span.street-address Calle del Rey, 23
    -#       %br
    -#       %span.postal-code 28080
    -#       %span.region MADRID
    -#       %span.country-name España
    -#     %p.tel 0034 555 55 65 85
    -#     %a(href="mailto:info@jaleoapp.es") info&#x40;jaleoapp.es
