.sign-up {
  h1 {
    font-size:36px;
    color: #000;
  }

  h2 {

  }

  a{
    color: #d4145a;
  }

  hr {
    background-color: #000;
    height: 4px;
    border:0;
  }

  form {
    input {
      display:block;
    }
  }
}
